/* Base Application Styles */
body {
/*  color: #fff;
  background: #222;*/
  padding: 20px;
  font-family: 'Georgia', 'Times', 'Times New Roman', serif;
  color: #3a3a3a;
  font-size: 16px;
  line-height: 1.4;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
}

h1,
.h1 {
  line-height: 1.2;
  font-size: 2em;
  margin: 0 0 1em;
}
h2,
.h2 {
  font-size: 1.6em;
  line-height: 1.2;
  margin: 0 0 1em;
}
h3
.h3 {
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 1em;
}

.list--unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
  li,
  dd {
    margin: 0;
    padding: 0;
  }
}

.btn {
  border: 0 none;
  clear: both;
  // display: table;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  margin: 10px 0;
  padding: 7px 10px;
  text-transform: uppercase;
}
.btn--default {
  background: #fe621e none repeat scroll 0 0;
  color: #fff;
}
.btn--unstyled {
  border: none;
  padding: 0;
  margin: 0;
  text-align: left;
  border-radius: 0;
  -webkit-appearance: none;
}

.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}

.button-row {
  text-align: right;
}

#app {
  max-width: 400px;
  margin: 0 auto;

  footer {
    font-size: 0.8em;
    font-style: italic;
  }
}
.question {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 10px;
}

.answer {
  cursor: pointer;
  font-style: italic;
  display: block;
  width: 100%;
  padding: 10px;
  color: #333737;
  margin-bottom: 5px;
  background-color: #f4f4f4;
  transition: background-color 500ms;

  &:hover,
  &:focus {
    background-color: #ececec;
  }
}

.question-container--revealed {
  .answer {
    opacity: 0.7
  }
  .answer--correct {
    background-color: #deefda;
    font-weight: bold;
    &:hover,
    &:focus {
      background-color: #deefda;
    }
  }
  .answer--incorrect {
    background-color: #e8aeae;
    &:hover,
    &:focus {
      background-color: #e8aeae;
    }
  }

  .answer--selected {
    opacity: 1;
    font-weight: bold;
  }
}




.end-screen {
  background-color: #313535;
  color: white;
  padding: 20px;

  .btn {
    margin-bottom: 0;
  }
}
.end-screen__number-correct {

}
.end-screen__outcome-text {
  margin: 0;
}
.end-screen__better-than {

}



.loading-animation {
  margin: 100px auto 1em;
  width: 80px;
  text-align: center;
}

.loading-animation > div {
  width: 18px;
  height: 18px;
  margin: 0 3px;
  background-color: #333737;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loading-animation .loading-animation__bounce-1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loading-animation .loading-animation__bounce-2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


.loading-screen {
  text-align: center;
  font-style: italic;
}