/* Base Application Styles */
body {
/*  color: #fff;
  background: #222;*/
  padding: 20px;
}

.answer {
  cursor: pointer;
}

.answer--correct {
  color: green;
}
.answer--incorrect {
  color: red;
}